@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0fdf4;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24ae7c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  

.text-gradient-accent {
  @apply bg-gradient-to-tr from-[#24ae7c] via-[#1e9c6e] to-[#188a60] bg-clip-text text-transparent;
}
.bg-gradient-accent {
  @apply bg-gradient-to-tr from-[#4fcfa0] via-[#21b17c] to-[#188a60] ;
}
  




