@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  

.text-gradient-accent {
  @apply bg-gradient-to-tr from-[#24ae7c] via-[#1e9c6e] to-[#188a60] bg-clip-text text-transparent;
}
